@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
    background-image: url("photo/photo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    width: 85%;
    margin: auto;
}
nav{
    height: 80px;
}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: #eb7620;
}
nav ul{
    float: right;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
}
nav ul li a:hover{
    background-color: #eb7620;
    transition: 0.5s ease;
}
.article{
    width: 70%;
    margin: auto;
    text-align: center;
    margin: 38vh;
    
}
p{
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
    color: #eb7620;
    font-weight: 800;
    line-height: 40px;
}
.article h1{
    font-size: 50px;
    color: #fff;
}
.btn{
    background-color: #fff;
    border-radius: 4px;
    text-decoration: none;
    padding: 15px 30px;
   color: black;
   transition: 0.5s ease-in-out;
}
.btn:hover{
    background-color:#eb7620;
}

